@using Microsoft.AspNetCore.Identity
@using InYourInterest.Data.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav collapse navbar-collapse justify-content-end">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <div class="dropdown show">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"
                   role="button"
                   id="dropdownMenuLink"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    Hello @UserManager.GetUserName(User)!
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    @*<a class="dropdown-item" asp-controller="Event" asp-action="All"><span>All Events</span></a>*@
                    <a class="dropdown-item" asp-controller="Event" asp-action="SavedEvents">Saved events</a>
                    <a class="dropdown-item" asp-controller="Group" asp-action="YourGroups">Your groups</a>
                    <a class="dropdown-item" asp-controller="Group" asp-action="MyCommunities">My groups</a>
                    <a asp-controller="Event" asp-action="YourEvents" class="dropdown-item">My events</a>
                    <hr />
                    <a href="" class="dropdown-item">View profile</a>
                    <a href="/Identity/Account/Manage" class="dropdown-item">Settings</a>
                    <a href="" class="dropdown-item">Help</a>
                </div>
            </div>
        </li>

        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>

    }
</ul>
