<div class="css-125qlaw">
    <form class="css-8atqhb" asp-controller="Event" asp-action="All" method="get">
        <div class="css-k008qs"> 
            <input type="text" name="id" placeholder="Search for keywords" aria-label="Search for keywords"
                   data-element-name="keywordSearchBar" class="css-4m6935" value="">
            <div class="css-12r0idr">
                <div aria-owns="" aria-expanded="false" class="css-1y6z04t" data-reach-combobox="">
                    <input aria-autocomplete="both" aria-controls="" aria-expanded="false" aria-haspopup="listbox"
                           aria-label="Search for location by city or zip code" role="combobox" autocomplete="off"
                           placeholder="City or zip code" data-element-name="searchLocation" class="css-1bs0d6w"
                           data-reach-combobox-input="" value="UserLocation">
                </div>
            </div>
            <button data-element-name="searchBarButton" type="submit" class="css-1ycky0c">
                <svg data-swarm-icon="true" height="18" width="18" viewBox="0 0 18 18" class="css-ov5nsl">
                    <path d="M11.89 10.477L16.415 15 15 16.414l-4.523-4.523a6 6 0 111.414-1.414zM7 11a4 4 0 100-8 4 4 0 000 8z"></path>
                </svg>
            </button>
        </div>
        <input type="submit" class="css-1kzumi4">
    </form>
</div> 