<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Hello from Admin area!</h1>
        <p class="lead">Enjoy on your work!</p>
        <li><a asp-area="Administration" asp-controller="Categories" asp-action="All"><span>Categories</span></a></li>
    </div>
</div>