@{
    ViewData["Title"] = "NoEvents";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="css-1oib8lz">
    <div style="outline:none" tabindex="-1">
        <h1 class="css-1tp16z3">Your events</h1>
        <div class="css-el37qf">
            <p class="css-11b9ncd">No events are found</p>
            <p class="css-ca4uqa">When you create event, they will appear here.</p>
            <a data-element-name="savedEvents-empty-state-explore-events-button"
               asp-controller="Event" asp-action="Create"
               class="css-y1z30y">Create event</a>
        </div>
    </div> 
</div>