
@{
    ViewData["Title"] = "NoSavedEvents";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div class="css-el37qf">

    <p class="css-11b9ncd">No saved events</p>
    <p class="css-ca4uqa">When you save events, they will appear here.</p>
    <a data-element-name="savedEvents-empty-state-explore-events-button" asp-controller="Event" asp-action="All" class="css-y1z30y">Explore events</a>

</div>